body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  border: 1px solid red;
  position: relative;
  min-height: 100vh;
}

.game-off {
  display: none;
}

.game-off.active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-rotate {
  max-width: 60px;
  -webkit-animation: screenRotate 2s linear 1 normal 0s forwards;
          animation: screenRotate 2s linear 1 normal 0s forwards;
}

@-webkit-keyframes screenRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes screenRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}